<!-- Footer Start -->
<footer class="footer bg-footer-homepage5">
    <div class="footer-1">
       <div class="container">
          <div class="row border-bottom mb-15">
             <div class="col-lg-4 mb-30">
                <h4 class="mb-30 color-gray-1000">Contact</h4>
                <div class="font-md mb-20 color-gray-1000"><strong class="font-md-bold">Address:</strong> 36 LINCOLN
                   STREET, BRIGHTON, MA, 02135, US.</div>
                <div class="font-md mb-20 color-gray-1000"><strong class="font-md-bold">Phone:</strong> 1-313-538-4800
                </div>
                <div class="font-md mb-20 color-gray-1000"><strong class="font-md-bold">E-mail:</strong> <a
                      mailto="SALES@DIRECTSECURITYSUPPLY.COM" class="__cf_email__">{{selesEmailId}}</a>
                </div>
             </div>
             <div class="col-lg-4 mb-30">
                <h4 class="mb-30 color-gray-1000">Customer Services</h4>
                <ul class="menu-footer">
                   <li><a href="#">Home</a></li>
                   <li><a href="#">About Us</a></li>
                   <li><a href="#">Credit Application</a></li>
                   <li><a href="#">Contact Us</a></li>
                </ul>
             </div>
             <div class="col-lg-4 text-center">
                <h4 class="mb-30 color-gray-1000">Joining With Us</h4>
                <div>
                   <div class="mt-20"><a class="mr-10" href="#">
                         <img src="assets/images/logo.png" class="img-fluid" width="40%" alt="Ecommerce"
                            style="filter:invert(1)"></a>
                   </div>
                   <!-- <div class="mt-30"><a class="icon-socials icon-facebook" href="#"></a><a
                         class="icon-socials icon-instagram" href="#"></a><a class="icon-socials icon-linkedin" href="#"></a></div> -->
                </div>
             </div>
          </div>
          <div class="row">
             <div class="col-md-12 text-center">
                <div class="copy-text-payment align-flex">
                   <div class="col-md-12">
                      <p class="text-white">© 2023 BRP Ecommerce | Sitemap | Theme by <span class="font-sm-bold">BRP
                            Development LLC.</span></p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
 <!-- End Footer -->