<!-- Footer Start -->
<footer class="footer bg-footer-homepage5">
   <div class="footer-1">
      <div class="container">
         <div class="row border-bottom mb-15">
            <div class="col-md-12">
               <div class="btm-para">
                  <p>
                  <p>As a proven Industrial Hardware Store, Troop Industrial is a service-first team built to deliver
                     the right tools for the right job. Our team is HERE for you with a dedication to quality, speed,
                     and accuracy. With multiple locations and valued partners all throughout the Texas Gulf Coast
                     and Louisiana Gulf, in the heart of petrochemical and refinery operations, nobody is more
                     equipped for YOUR equipment than TROOP.
                  </p>
               </div>
            </div>
            <div class="col-md-12">
               <div class="top-footer-img">
                  <img
                     src="https://www.troopindustrial.com/hs-fs/hubfs/Troop%20Main%20Footer%203.png?width=779&name=Troop%20Main%20Footer%203.png"
                     alt="Footer Top">
               </div>
            </div>
         </div>
         <div class="row border-bottom mb-15">
            <div class="col-lg-4 mb-30">
               <h4 class="mb-30 color-gray-1000">Contact</h4>
               <div class="font-md mb-10 color-gray-1000"><strong class="font-md-bold">Address:</strong> 4330 N Link
                  St, Ste A | Groves, Texas 77619
                  United States</div>
               <div class="font-md mb-10 color-gray-1000"><strong class="font-md-bold">Pasadena, TX::</strong>
                  713-475-6100
               </div>
               <div class="font-md mb-10 color-gray-1000"><strong class="font-md-bold">Groves, TX:</strong>
                  409-727-7384
               </div>
               <div class="font-md mb-10 color-gray-1000"><strong class="font-md-bold">Sulphur, LA:</strong>
                  337-882-6887
               </div>
               <div class="font-md mb-10 color-gray-1000 text-white"><strong class="font-md-bold">E-mail:</strong>
                  <!-- <a href="mailto:troopindustrial@email.com" class="text-white">troopindustrial@email.com</a> -->
               </div>
            </div>
            <div class="col-lg-4 mb-30">
               <h4 class="mb-30 color-gray-1000">Customer Services</h4>
               <ul class="menu-footer">
                  <li><a href="aboutus.html">About Us</a></li>
                  <li><a href="contact-us.html">Contact Us</a></li>
                  <li><a href="#">Supplies & Products</a></li>
                  <li><a href="civil-products.html">Civil Products</a></li>
                  <li><a href="#">Green Sheet</a></li>
                  <li><a href="#">Projexx Group</a></li>
                  <li><a href="#">Technical Info & Specs</a></li>
                  <li><a href="#">Technical Info & Specs</a></li>
                  <li><a href="#">Certifications</a></li>
               </ul>
            </div>
            <div class="col-lg-4 text-center">
               <h4 class="mb-30 color-gray-1000">Joining With Us</h4>
               <div>
                  <div class="mt-20"><a class="mr-10" href="#">
                        <img
                           src="https://www.troopindustrial.com/hs-fs/hubfs/raw_assets/public/TroopIndustrial_April2022/images/LOGO_TROOP-header.png"
                           class="img-fluid" width="40%" alt="Ecommerce" style="filter:invert(1)"></a>
                  </div>
                  <!-- <div class="mt-30"><a class="icon-socials icon-facebook" href="#"></a><a
                        class="icon-socials icon-instagram" href="#"></a><a class="icon-socials icon-linkedin" href="#"></a></div> -->
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12 text-center">
               <div class="copy-text-payment align-flex">
                  <div class="col-md-12">
                     <p class="text-white">© 2024 BRP Ecommerce | Sitemap | Theme by <span class="font-sm-bold">BRP
                           Development LLC.</span></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
<!-- End Footer -->
