<div class="checkout-box">
  <div class="container mt-5">
    <div class="row">
      <!-- Billing Information Section -->
      <div class="col-lg-6 col-md-6 col-sm-12">
        <button
          class="font-md-bold btn btn-buy w-100 mb-10 btn-hover-none"
          style="font-size: 24px; text-align: start"
          data-bs-toggle="collapse"
          data-bs-target="#billingInfo"
          aria-expanded="false"
          aria-controls="billingInfo"
        >
          1. &nbsp;&nbsp; Billing Information
        </button>

        <!-- <h2>
                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#billingInfo" aria-expanded="false" aria-controls="billingInfo">
                    Billing Information
                </button>
            </h2> -->
        <div id="billingInfo" class="collapse show">
          <div *ngIf="IsUserLogin == false">
            <form [formGroup]="billingForm" (ngSubmit)="onSubmitBilling()">
              <div class="mb-3">
                <!-- <label for="billingName" class="did-floating-label check-out-lable">Name</label> -->

                <input
                  type="text"
                  id="billingName"
                  value="{{ customerMaster?.firstName }}"
                  formControlName="billingName"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your name"
                  required
                />
                <label class="did-floating-label check-out-lable">Name</label>
              </div>
              <div class="mb-3">
                <label for="Phone" class="did-floating-label check-out-lable"
                  >Phone</label
                >
                <input
                  type="text"
                  id="billingName"
                  formControlName="phone"
                  value="{{ customerMaster?.phone }}"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your Phone"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="Email" class="did-floating-label check-out-lable"
                  >Email</label
                >
                <input
                  type="text"
                  id="email"
                  formControlName="email"
                  value="{{ customerMaster?.email }}"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your Email"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="Fax" class="did-floating-label check-out-lable"
                  >FAX</label
                >
                <input
                  type="text"
                  id="fax"
                  formControlName="fax"
                  class="did-floating-input brder-color-grey"
                  value="{{ customerMaster?.phoneExtension }}"
                  placeholder="Enter your Fax"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="Fax" class="did-floating-label check-out-lable"
                  >Please Copy Address here
                </label>
                <input
                  type="text"
                  id="address"
                  value="{{ customerAddress?.address1 }}"
                  formControlName="address"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your Address"
                  required
                />
              </div>
              <div class="mb-3">
                <label
                  for="billingAddress1"
                  class="did-floating-label check-out-lable"
                  >Address1</label
                >
                <input
                  type="text"
                  id="billingAddress1"
                  value="{{ customerAddress?.address2 }}"
                  formControlName="billingAddress1"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your address1"
                  required
                />
              </div>
              <div class="mb-3">
                <label
                  for="billingAddress2"
                  class="did-floating-label check-out-lable"
                  >Address2</label
                >
                <input
                  type="text"
                  id="billingAddress2"
                  value="{{ customerAddress?.address3 }}"
                  formControlName="billingAddress2"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your address2"
                  required
                />
              </div>
              <div class="mb-3">
                <label
                  for="billingCountry"
                  class="did-floating-label check-out-lable"
                  >Country</label
                >
                <input
                  type="text"
                  id="billingCountry"
                  value="{{ customerAddress?.country }}"
                  formControlName="country"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your Country"
                  required
                />
              </div>

              <div class="mb-3">
                <label
                  for="billingState"
                  class="did-floating-label check-out-lable"
                  >State</label
                >
                <input
                  type="text"
                  id="billingState"
                  value="{{ customerAddress?.state }}"
                  formControlName="state"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your State"
                  required
                />
              </div>

              <div class="mb-3">
                <label
                  for="billingCity"
                  class="did-floating-label check-out-lable"
                  >City</label
                >
                <input
                  type="text"
                  id="billingCity"
                  value="{{ customerAddress?.city }}"
                  formControlName="city"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your City"
                  required
                />
              </div>
              <div class="mb-3">
                <label
                  for="billingZip"
                  class="did-floating-label check-out-lable"
                  >Postal Code</label
                >
                <input
                  type="text"
                  id="billingZip"
                  value="{{ customerAddress?.postal }}"
                  formControlName="postalCode"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter Postal code"
                  required
                />
              </div>
            </form>
          </div>
          <div *ngIf="IsUserLogin">
            <div id="Billing_Address" [innerHTML]="billingAddress"></div>
          </div>
        </div>
      </div>

      <!-- Shipping Information Section -->
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h2>
          <button
            class="font-md-bold btn btn-buy w-100 mb-10 btn-hover-none"
            style="font-size: 24px; text-align: start"
            data-bs-toggle="collapse"
            data-bs-target="#shippingInfo"
            aria-expanded="false"
            aria-controls="shippingInfo"
          >
            2. &nbsp;&nbsp; Shipping Information
          </button>
        </h2>

        <div id="shippingInfo" class="collapse show">
          <div *ngIf="IsUserLogin == false">
            <form [formGroup]="shippingForm" (ngSubmit)="onSubmitShipping()">
              <div class="mb-3 from-dropdown">
                <label
                  for="listExistAddress"
                  class="did-floating-label check-out-lable"
                  >Select Address</label
                >
                <select
                  class="did-floating-select"
                  formControlName="paymentType"
                  id="listExistAddress"
                >
                  <option
                    *ngFor="let paym of shipmentAddress"
                    [value]="paym.location"
                  >
                    {{ paym.address1 }}
                    {{ paym.address2 }} {{ paym.address3 }} {{ paym.city }}
                    {{ paym.country }}
                  </option>
                </select>
              </div>
              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  id="sameAsResidential"
                  formControlName="sameAsBilling"
                  class="form-check-input"
                />
                <label for="sameAsResidential" class="form-check-label"
                  >Same as Billing address</label
                >
              </div>
              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  id="residential"
                  formControlName="residential"
                  class="form-check-input"
                />
                <label for="residential" class="form-check-label">
                  Residential
                </label>

                <div class="mb-3">
                  <label
                    for="shippingName"
                    class="did-floating-label check-out-lable"
                    >Ship To Name</label
                  >
                  <input
                    type="text"
                    id="shippingName"
                    formControlName="shippingToName"
                    class="did-floating-input brder-color-grey"
                    placeholder="Enter your name"
                    required
                  />
                </div>
              </div>

              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  id="blindShopping"
                  formControlName="blindShopping"
                  class="form-check-input"
                />
                <label for="blindShopping" class="form-check-label"
                  >Blind shopping</label
                >
              </div>
              <div class="mb-3">
                <label for="attn" class="did-floating-label check-out-lable"
                  >Attn</label
                >
                <input
                  type="text"
                  id="attn"
                  formControlName="attn"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your attn"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="Phone" class="did-floating-label check-out-lable"
                  >Phone</label
                >
                <input
                  type="text"
                  id="billingName"
                  value="{{ customerMaster?.phone }}"
                  formControlName="phone"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your Phone"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="Fax" class="did-floating-label check-out-lable"
                  >Please Copy Address here
                </label>
                <input
                  type="text"
                  id="address"
                  value="{{ shipingLocation?.shipingLocation }}"
                  formControlName="address"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your Address"
                  required
                />
              </div>

              <div class="mb-3">
                <label
                  for="billingAddress1"
                  class="did-floating-label check-out-lable"
                  >Address1</label
                >
                <input
                  type="text"
                  id="billingAddress1"
                  value="{{ shipingLocation?.address1 }}"
                  formControlName="billingAddress1"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your address1"
                  required
                />
              </div>
              <div class="mb-3">
                <label
                  for="billingAddress2"
                  class="did-floating-label check-out-lable"
                  >Address2</label
                >
                <input
                  type="text"
                  id="billingAddress2"
                  value="{{ shipingLocation?.address2 }}"
                  formControlName="billingAddress2"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your address2"
                  required
                />
              </div>
              <div class="mb-3">
                <label
                  for="billingCountry"
                  class="did-floating-label check-out-lable"
                  >Country</label
                >
                <input
                  type="text"
                  id="billingCountry"
                  value="{{ shipingLocation?.country }}"
                  formControlName="country"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your Country"
                  required
                />
              </div>

              <div class="mb-3">
                <label
                  for="billingState"
                  class="did-floating-label check-out-lable"
                  >State</label
                >
                <input
                  type="text"
                  id="billingState"
                  value="{{ shipingLocation?.state }}"
                  formControlName="state"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your State"
                  required
                />
              </div>

              <div class="mb-3">
                <label
                  for="billingCity"
                  class="did-floating-label check-out-lable"
                  >City</label
                >
                <input
                  type="text"
                  id="billingCity"
                  value="{{ shipingLocation?.city }}"
                  formControlName="city"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your City"
                  required
                />
              </div>
              <div class="mb-3">
                <label
                  for="billingZip"
                  class="did-floating-label check-out-lable"
                  >Postal Code</label
                >
                <input
                  type="text"
                  id="billingZip"
                  value="{{ customerAddress?.postal }}"
                  formControlName="postalCode"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter Postal code"
                  required
                />
              </div>
            </form>
          </div>
          <div *ngIf="IsUserLogin">
            <form [formGroup]="shippingForm" (ngSubmit)="onSubmitShipping()">
              <div class="col-md-12 px-0">
                <label
                  for="listExistAddress"
                  class="did-floating-label check-out-lable"
                  style="top: -10px"
                  >Select Address</label
                >
                <select
                  class="did-floating-select brder-color-grey mb-3"
                  formControlName="paymentType"
                  id="listExistAddress"
                  (change)="onAddressChange($event)"
                  required
                >
                  <option
                    *ngFor="let paym of shipmentAddress"
                    [value]="paym.location"
                  >
                    {{ paym.address1 }}
                    {{ paym.address2 }} {{ paym.address3 }} {{ paym.city }}
                    {{ paym.country }}
                  </option>
                </select>
              </div>
              <div class="text-end">
                <button
                  mat-button
                  id="btnAddAddress"
                  class="font-md-bold btn btn-buy w-auto"
                  (click)="openDialog()"
                >
                  {{ btnAddressText }}
                </button>
              </div>
            </form>
            <div id="Selectedaddress" [innerHTML]="displayShipAdd"></div>
          </div>
          <!-- </form> -->
        </div>
      </div>

      <div class="col-md-12"><div class="divider"></div></div>
      <!-- Order Details Section -->
      <div class="col-lg-12">
        <h2>
          <button
            class="font-md-bold btn btn-buy w-100 mb-10 btn-hover-none"
            style="font-size: 24px; text-align: start"
            data-bs-toggle="collapse"
            data-bs-target="#orderDetails"
            aria-expanded="false"
            aria-controls="orderDetails"
          >
            3. &nbsp;&nbsp; Order Details
          </button>
        </h2>
        <div id="orderDetails" class="collapse show">
          <form
            [formGroup]="orderDetailsForm"
            (ngSubmit)="onSubmitOrderDetails()"
          >
            <div class="row">
              <div class="col-md-3 mb-3 d-none">
                <!-- <label for="cancelDate" class="did-floating-label check-out-lable">Cancel Date</label> -->

                <input
                  type="date"
                  id="cancelDate"
                  formControlName="cancelDate"
                  class="did-floating-input brder-color-grey"
                  required
                />
                <label
                  class="did-floating-label check-out-lable"
                  style="top: 0px"
                  >Cancel Date</label
                >
              </div>
              <div class="col-md-4 mb-3">
                <label
                  for="jobRelease"
                  class="did-floating-label check-out-lable"
                  >Job Release</label
                >
                <input
                  type="text"
                  id="jobRelease"
                  formControlName="jobRelease"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter job release"
                  required
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="phone" class="did-floating-label check-out-lable"
                  >Phone</label
                >
                <input
                  type="text"
                  id="phone"
                  formControlName="phone"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter phone number"
                  required
                />
              </div>

              <div class="col-md-4 mb-3">
                <label for="poNumber" class="did-floating-label check-out-lable"
                  >PO Number</label
                >
                <input
                  type="text"
                  id="poNumber"
                  formControlName="poNumber"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter PO number"
                  required
                />
              </div>

              <div class="col-md-4 mb-3">
                <label for="contact" class="did-floating-label check-out-lable"
                  >Contact</label
                >
                <input
                  type="text"
                  id="contact"
                  formControlName="contact"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter contact"
                  required
                />
              </div>

              <div class="col-md-4 mb-3 d-none">
                <label
                  for="enteredBy"
                  class="did-floating-label check-out-lable"
                  >Entered By</label
                >
                <input
                  type="text"
                  id="enteredBy"
                  formControlName="enteredBy"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your name"
                  required
                />
              </div>

              <div class="col-md-4 mb-3">
                <label for="email" class="did-floating-label check-out-lable"
                  >Email Address</label
                >
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter your email"
                  required
                />
              </div>

              <div class="col-md-4 mb-3">
                <label
                  for="paymentType"
                  class="did-floating-label check-out-lable"
                  >Payment Type</label
                >
                <select
                  id="paymentType"
                  formControlName="paymentType"
                  class="did-floating-select brder-color-grey"
                  required
                >
                  <option value="" disabled selected>
                    Select payment type
                  </option>
                  <option
                    *ngFor="let paym of paymentMethod"
                    [value]="paym.paymentMethod1"
                  >
                    {{ paym.paymentMethod1 }}
                  </option>
                </select>
              </div>

              <div class="col-md-4 mb-3">
                <label for="shipVia" class="did-floating-label check-out-lable"
                  >Ship Via</label
                >
                <select
                  id="shipVia"
                  formControlName="shipVia"
                  class="did-floating-select brder-color-grey"
                  required
                >
                  <option value="" disabled selected>Select shipVia</option>
                  <option
                    *ngFor="let spvia of SystemShipVia"
                    [value]="spvia.shipViaCode"
                  >
                    {{ spvia.shipViaCode }}
                  </option>
                </select>
                <!-- <input type="text" id="shipVia" formControlName="shipVia" class="did-floating-input brder-color-grey" placeholder="Enter shipping method" required> -->
              </div>

              <div class="col-md-4 mb-3">
                <label
                  for="shippingAccount"
                  class="did-floating-label check-out-lable"
                  >Shipping Account</label
                >
                <input
                  type="text"
                  id="shippingAccount"
                  formControlName="shippingAccount"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter shipping account"
                  required
                />
              </div>

              <div class="col-md-12 mt-2 mb-3">
                <label
                  for="additionalInfo"
                  class="did-floating-label check-out-lable"
                  style="top: -10px"
                  >Additional Info</label
                >
                <textarea
                  id="additionalInfo"
                  formControlName="additionalInfo"
                  class="did-floating-input brder-color-grey"
                  rows="4"
                  placeholder="Enter any additional info"
                  style="height: 76px; padding: 8px 20px"
                ></textarea>
              </div>
            </div>
            <div class="text-end d-none">
              <button type="submit" class="font-md-bold btn btn-buy w-auto">
                Submit Order Details
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-12"><div class="divider"></div></div>
      <!-- Payment Information Section -->
      <div class="col-lg-12 d-none">
        <h2>
          <button
            class="font-md-bold btn btn-buy w-100 mb-10 btn-hover-none"
            style="font-size: 24px; text-align: start"
            data-bs-toggle="collapse"
            data-bs-target="#paymentInfo"
            aria-expanded="false"
            aria-controls="paymentInfo"
          >
            4. &nbsp;&nbsp; Other Information
          </button>
        </h2>
        <div id="paymentInfo" class="collapse show">
          <form [formGroup]="paymentForm" (ngSubmit)="onSubmitPayment()">
            <div class="row">
              <div class="col-md-4 mb-3 d-none">
                <label
                  for="cardHolderName"
                  class="did-floating-label check-out-lable"
                  >Card Holder Name</label
                >
                <input
                  type="text"
                  id="cardHolderName"
                  formControlName="cardHolderName"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter card holder name"
                  required
                />
              </div>

              <div class="col-md-4 mb-3 d-none">
                <label for="cardType" class="did-floating-label check-out-lable"
                  >Card Type</label
                >
                <select
                  id="cardType"
                  formControlName="cardType"
                  class="did-floating-select brder-color-grey"
                  required
                >
                  <option value="" disabled selected>Select card type</option>
                  <option value="visa">Visa</option>
                  <option value="mastercard">MasterCard</option>
                  <option value="amex">American Express</option>
                </select>
              </div>

              <div class="col-md-4 mb-3 d-none">
                <label
                  for="cardNumber"
                  class="did-floating-label check-out-lable"
                  >Card Number</label
                >
                <input
                  type="text"
                  id="cardNumber"
                  formControlName="cardNumber"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter card number"
                  required
                />
              </div>

              <div class="col-md-4 mb-3 d-none">
                <label
                  for="securityCode"
                  class="did-floating-label check-out-lable"
                  >Security Code (CVV)</label
                >
                <input
                  type="text"
                  id="securityCode"
                  formControlName="securityCode"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter CVV"
                  required
                />
              </div>

              <div class="col-md-4 mb-3 d-none">
                <label
                  for="expirationMonth"
                  class="did-floating-label check-out-lable"
                  >Expiration Month</label
                >
                <input
                  type="text"
                  id="expirationMonth"
                  formControlName="expirationMonth"
                  class="did-floating-input brder-color-grey"
                  placeholder="MM"
                  required
                />
              </div>

              <div class="col-md-4 mb-3 d-none">
                <label
                  for="expirationYear"
                  class="did-floating-label check-out-lable"
                  >Expiration Year</label
                >
                <input
                  type="text"
                  id="expirationYear"
                  formControlName="expirationYear"
                  class="did-floating-input brder-color-grey"
                  placeholder="YYYY"
                  required
                />
              </div>

              <div class="col-md-4 mb-3">
                <label for="address1" class="did-floating-label check-out-lable"
                  >Address 1</label
                >
                <input
                  type="text"
                  id="address1"
                  formControlName="address1"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter address"
                  required
                />
              </div>

              <div class="col-md-4 mb-3">
                <label for="address2" class="did-floating-label check-out-lable"
                  >Address 2</label
                >
                <input
                  type="text"
                  id="address2"
                  formControlName="address2"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter address (optional)"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label for="country" class="did-floating-label check-out-lable"
                  >Country</label
                >
                <input
                  type="text"
                  id="country"
                  formControlName="country"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter country"
                  required
                />
              </div>

              <div class="col-md-4 mb-3">
                <label for="state" class="did-floating-label check-out-lable"
                  >State</label
                >
                <input
                  type="text"
                  id="state"
                  formControlName="state"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter state"
                  required
                />
              </div>

              <div class="col-md-4 mb-3">
                <label for="city" class="did-floating-label check-out-lable"
                  >City</label
                >
                <input
                  type="text"
                  id="city"
                  formControlName="city"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter city"
                  required
                />
              </div>

              <div class="col-md-4 mb-3">
                <label for="zip" class="did-floating-label check-out-lable"
                  >Postal Code</label
                >
                <input
                  type="text"
                  id="zip"
                  formControlName="zip"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter postal code"
                  required
                />
              </div>

              <div class="col-md-8 mb-3">
                <label for="email" class="did-floating-label check-out-lable"
                  >Email</label
                >
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  class="did-floating-input brder-color-grey"
                  placeholder="Enter email"
                  required
                />
              </div>
              <div class="col-md-4 text-end mt-2 d-none">
                <button type="submit" class="font-md-bold btn btn-buy w-auto">
                  Submit Payment Information
                </button>
              </div>
            </div>
            <!-- </div> -->
          </form>
        </div>
      </div>
      <div class="col-md-12 d-none"><div class="divider"></div></div>
      <!-- Item Details Section -->
      <div class="col-lg-12">
        <h2>
          <button
            class="font-md-bold btn btn-buy w-100 mb-10 btn-hover-none"
            style="font-size: 24px; text-align: start"
            data-bs-toggle="collapse"
            data-bs-target="#itemDetails"
            aria-expanded="false"
            aria-controls="itemDetails"
          >
            5. &nbsp;&nbsp; Item Details
          </button>
        </h2>
        <div id="itemDetails" class="collapse show">
          <div style="margin-top: 10px">
            <table class="rwd-table check-out-table">
              <thead>
                <tr>
                  <th scope="col">Remove</th>
                  <th scope="col">Image</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Unit Price</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Tax Rate</th>
                  <th scope="col">Tax Amount</th>
                  <th scope="col">Net Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of cartItems; let i = index">
                  <td data-th="Remove">
                    <a
                      class="btn btn-delete check-delete"
                      (click)="removeItem(i)"
                    >
                      <span
                        ><img
                          src="/assets/imgs/page/wishlist/delete.svg"
                          alt="" /></span
                    ></a>
                    <!-- <button
                    type="button"
                    class="btn btn-danger"
                    (click)="removeItem(i)"
                  >
                    Remove
                  </button> -->
                  </td>
                  <td data-th="Image">
                    <img
                      src="{{ imgeUrl }}{{ item.imagePath }}"
                      alt="{{ item.itemCode }}"
                      width="50"
                      height="50"
                    />
                  </td>
                  <td data-th="Item">{{ item.itemCode }}{{ item.item_Description }}</td>
                  <td data-th="Qty">
                    <input
                      type="number"
                      [(ngModel)]="item.quntity"
                      class="did-floating-input brder-color-grey mt-0"
                      min="1"
                      (change)="updateTotalPrice(i)"
                    />
                  </td>
                  <td data-th="Price">{{ item.itemPrice | currency }}</td>
                  <td data-th="Amount">{{ item.amount | currency }}</td>

                  <td data-th="Tax Rate">{{ item.taxRate | currency }}</td>
                  <td data-th="Tax Amount">{{ item.taxAmount | currency }}</td>
                  <td data-th="Net Amount">{{ item.netAmount | currency }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-12"><div class="divider"></div></div>
    </div>
    <!-- Proceed to Payment Section -->
    <div class="row mt-4">
      <div class="col text-center mb-5 d-flex justify-content-between">
        <button
          type="submit"
          class="font-md-bold btn btn-buy w-auto"
          (click)="onProceedToPayment()"
        >
          Continue To Shopping
        </button>
        <button
          type="submit"
          class="font-md-bold btn btn-buy w-auto"
          (click)="onClickContinue()"
        >
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
