<section class="section-box shop-template mt-60">
    <div class="head-main mt-30" style="border-bottom: none;">
      <div class="row padding-lr-80">
          <div class="col-md-12">
              <h1 class="head-text">Create Location Address.</h1>
          </div>
      </div>
  </div>
  <div class="row mb-100 padding-lr-80">
    <form
    [formGroup]="AddressForm" 
    (ngSubmit)="AddressForm.valid && onSubmitShipping()"
    novalidate
    class="requires-validation"
    >
    <div class="form-register align-flex justify-content-start align-items-baseline">
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="addressLine1">Address Line 1.</label>
                <input type="text" id="addressLine1" formControlName="addressLine1" class="form-control" required>            
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="addressLine2">Address Line 2.</label>
                <input type="text" id="addressLine2" formControlName="addressLine2" class="form-control" required>            
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" id="city" formControlName="city" class="form-control" required>            
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="state">State</label>
                <select class="did-floating-select" id="state" formControlName="state" (change)="onChangeState($event)">
                    <option *ngFor="let option of lststate" [value]="option.state1">
                      ({{option.state1}}) {{ option.descr }} 
                    </option>
                  </select>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="country">Country</label>
                <select class="did-floating-select" id="country" formControlName="country" (change)="onCountryChange($event)">
                    <option *ngFor="let option of lstContry" [value]="option.countryCode">
                      ({{option.countryCode}}) {{ option.countryDescr }} 
                    </option>
                  </select>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="postcode">postcode</label>
                <input type="text" id="postcode" formControlName="postcode" class="form-control" required>            
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="phonenumber">Phone Number</label>
                <input type="text" id="phonenumber" formControlName="phonenumber" class="form-control" required>            
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create New Address</button>
    </form>
  </div>
