<section class="section-box shop-template mt-60">
  <div class="container-fluid">
    <div class="row mb-100 align-items-center padding-lr-80">
      <div class="col-lg-5">
        <div class="head-main bd-gray-200" *ngIf="!isForgotPassword">
          <h3 class="head-text pb-1 fw-bold">
            Welcome to our newly launched website! To explore the exciting new
            features, please select ‘Forgot Your Password’ to reset your
            credentials and login
          </h3>
          <label class="text-danger"
            >All fields marked with an asterisk (*) must be completed</label
          >
        </div>
        <form
          class="form-register mb-30"
          *ngIf="!IsUserLogin()"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <div class="form-group" *ngIf="!isForgotPassword">
            <!-- <label class="font-sm color-gray-700">Email</label
            ><span class="displaynone">*</span> -->
            <div class="did-floating-label-content mb-0">
              <input
                type="text"
                class="did-floating-input brder-color-grey"
                class="form-control"
                name="username"
                [(ngModel)]="form.username"
                required
                #username="ngModel"
              />
              <label class="did-floating-label" style="top: -10px !important"
                >Email<span>*</span></label
              >
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="username.errors && f.submitted"
            >
              Email is required!
            </div>
          </div>
          <div class="form-group" *ngIf="!isForgotPassword">
            <!-- <label class="font-sm color-gray-700">Password</label> -->
            <div class="did-floating-label-content mb-0">
              <input
                type="text"
                class="did-floating-input brder-color-grey"
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="form.password"
                required
                minlength="6"
                #password="ngModel"
              />
              <label class="did-floating-label" style="top: -10px !important"
                >Password</label
              >
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="password.errors && f.submitted"
            >
              <div *ngIf="password.errors['required']">
                Password is required
              </div>
              <div *ngIf="password.errors['minlength']">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="col-6 md-6 text-lg-end" *ngIf="!isForgotPassword">
            <a
              class="font-sm-bold color-brand-3"
              (click)="isForgotPassword = !isForgotPassword"
              >Forgot Your Password?</a
            >
          </div>
          <div class="form-group" *ngIf="isForgotPassword">
            <div class="col-md-12 head-main bd-gray-200 mb-15">
              <h1 class="head-text">Forgot Password</h1>
            </div>
            <div class="form-group">
              <label class="mb-5 font-sm color-gray-700"
                >Forget password? Enter your email address below and we will
              </label><span class="displaynone">*</span>
              <div class="did-floating-label-content mb-0">
                <input type="text"
                  class="did-floating-input brder-color-grey" [(ngModel)]="UserID" name="UserID"/>
                <label class="did-floating-label">Forget password
                  <span>*</span></label>
              </div>
            </div>
          </div>
        
          <div class="form-group col-md-12 d-flex justify-content-end">
            <re-captcha name="resolved" (resolved)="resolved($event)" required
              siteKey="6Lc2-l4UAAAAAN8mmuWceB_l8vYl7_dC3mpg36bX"></re-captcha>
          </div>
          <div class="form-group" *ngIf="!isForgotPassword">
            <button class="font-md-bold btn btn-buy w-auto mb-5">Login</button>
          </div>
          <div class="form-group" *ngIf="isForgotPassword">
            <button  (click)="isForgotPassword = !isForgotPassword" class="font-md-bold btn btn-buy w-auto mb-5">Back to login</button>
          </div>
          <div class="form-group" *ngIf="isForgotPassword">
            <button (click)="forgetPassword()" class="font-md-bold btn btn-buy w-auto mb-5">Send email new password</button>
          </div>
          <div class="form-group">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && isLoginFailed"
            >
              Login failed: {{ errorMessage }}
            </div>
          </div>
        </form>
        <div class="alert alert-success" *ngIf="IsUserLogin()">
          Logged in as {{ roles }}.
        </div>
      </div>
      <div class="offset-lg-1 col-lg-6">
        <div _ngcontent-ng-c803510575="" class="regist-content p-4 bg-19">
          <h3 _ngcontent-ng-c803510575="">Account Registration</h3>
          <p _ngcontent-ng-c803510575="" class="font-md color-gray-500 mt-30">
            Create an account with us and you'll be able to:
          </p>
          <ul _ngcontent-ng-c803510575="">
            <li _ngcontent-ng-c803510575="" class="list-disc">
              <p _ngcontent-ng-c803510575="" class="font-md color-gray-500">
                Check out faster
              </p>
            </li>
            <li _ngcontent-ng-c803510575="" class="list-disc">
              <p _ngcontent-ng-c803510575="" class="font-md color-gray-500">
                Save multiple shipping addresses
              </p>
            </li>
            <li _ngcontent-ng-c803510575="" class="list-disc">
              <p _ngcontent-ng-c803510575="" class="font-md color-gray-500">
                Access your order history
              </p>
            </li>
            <li _ngcontent-ng-c803510575="" class="list-disc">
              <p _ngcontent-ng-c803510575="" class="font-md color-gray-500">
                Track new orders
              </p>
            </li>
            <li _ngcontent-ng-c803510575="" class="list-disc">
              <p _ngcontent-ng-c803510575="" class="font-md color-gray-500">
                Submit Quote Request
              </p>
            </li>
          </ul>
          <div _ngcontent-ng-c803510575="" class="mt-50">
            <!--bindings={
                    "ng-reflect-ng-if": "false"
                    }-->
            <a
              _ngcontent-ng-c803510575=""
              id="reg2"
              ng-reflect-router-link="/create-account"
              href="/register"
              ><input
                _ngcontent-ng-c803510575=""
                type="button"
                value="Register an Account"
                class="font-md-bold btn btn-create-acct"
            /></a>
            <!--bindings={
                    "ng-reflect-ng-if": "true"
                    }-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
