<!-- <div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    
  </div>
</div> -->
<form
  class="section-box shop-template mt-60 padding-lr-80 mb-30"
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
  <div class="container">
    <div class="row">
      <div class="col-md-5 m-auto">
        <div class="head-main bd-gray-200">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <h1 class="head-text mt-60 color-gray-900">Change Password</h1>
              <label class="text-danger"
                >All fields marked with an asterisk (*) must be completed</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 m-auto">
        <div class="form-group">
          <div class="did-floating-label-content mb-0">
            <input
              type="text"
              class="did-floating-input brder-color-grey"
              name="username"
              [(ngModel)]="form.username"
              required
              readonly
              #username="ngModel"
            />
            <label class="did-floating-label">Username</label>
          </div>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="username.errors && f.submitted"
          >
            Username is required!
          </div>
        </div>
        <div class="form-group">
          <div class="did-floating-label-content mb-0">
            <input
              type="password"
              class="did-floating-input brder-color-grey"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
            />
            <label class="did-floating-label">Password</label>
          </div>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
          >
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="did-floating-label-content mb-0">
            <input
              type="password"
              class="did-floating-input brder-color-grey"
              name="Conformpassword"
              [(ngModel)]="form.Conformpassword"
              required
              minlength="6"
              #password="ngModel"
            /><label class="did-floating-label">Confirm Password</label>
          </div>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
          >
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Conform Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button class="font-md-bold btn btn-buy w-auto">
            Change password
          </button>
        </div>
        <div class="form-group">
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted">
            Change password error: {{ errorMessage }}
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
