<?xml version="1.0" encoding="utf-8"?>
<!-- <configuration> -->
  <!-- <system.webServer> -->
  <!-- <handlers> -->
    <!-- <add name="iisnode" path="server.js" verb="*" modules="iisnode" /> -->
	
  <!-- </handlers> -->
  
  <!-- <rewrite> -->
    <!-- <rules> -->
      <!-- <rule name="nodejs"> -->
        <!-- <match url="(.*)" /> -->
        <!-- <conditions> -->
          <!-- <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" /> -->
        <!-- </conditions> -->
        <!-- <action type="Rewrite" url="/server.js" /> -->
      <!-- </rule> -->
    <!-- </rules> -->
  <!-- </rewrite>  -->
  
  <!-- <security> -->
    <!-- <requestFiltering> -->
      <!-- <hiddenSegments> -->
        <!-- <add segment="node_modules" /> -->
        <!-- <add segment="iisnode" /> -->
      <!-- </hiddenSegments> -->
                <!-- <alwaysAllowedUrls> -->
                <!-- </alwaysAllowedUrls> -->
    <!-- </requestFiltering> -->
  <!-- </security> -->
        <!-- <httpProtocol> -->
            <!-- <customHeaders> -->
                <!-- <add name="Access-Control-Allow-Origin" value="*" /> -->
                <!-- <add name="Access-Control-Allow-Methods" value="*" /> -->
                <!-- <add name="Access-Control-Allow-Headers" value="*" /> -->
                <!-- <add name="Access-Control-Allow-Credentials" value="true" /> -->
                <!-- <add name="Access-Control-Allow-Private-Network" value="true" /> -->
            <!-- </customHeaders> -->
        <!-- </httpProtocol> -->
  <!-- </system.webServer> -->
<!-- </configuration> -->

<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" resourceType="Unspecified" />
        </handlers>
		<iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
        <iisnode watchedFiles="*.js" />
		 <rewrite> 
			<rules>
                <clear />
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
                <rule name="NodServer" stopProcessing="false">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/server.js" logRewrittenUrl="false" />
                </rule> 
			</rules> 
		</rewrite>
  
		 <security> 
			 <requestFiltering> 
				 <hiddenSegments> 
					<add segment="node_modules" />
					<add segment="iisnode" /> 
				</hiddenSegments> 
				<alwaysAllowedUrls>                
				</alwaysAllowedUrls> 
			 </requestFiltering>
            <authorization>
                <add accessType="Allow" users="?" />
            </authorization> 
		  </security> 
		 <httpProtocol> 
             <customHeaders> 
                <add name="Access-Control-Allow-Origin" value="http://localhost:4200" /> 
                <add name="Access-Control-Allow-Methods" value="*" />
                <add name="Access-Control-Allow-Headers" value="*" />
                <add name="Access-Control-Allow-Credentials" value="true" /> 
                <add name="Access-Control-Allow-Private-Network" value="false" /> 
             </customHeaders> 
		</httpProtocol>
        <httpRedirect enabled="false" destination="http://localhost:3000/create-payment-intent" /> 
    </system.webServer>
</configuration>
