<div class="container-fluid">
    <div class="row padding-lr-80 mt-30">
      <div class="col-md-8">
        <h3>
          Shipment
          <span *ngIf="isOpen"> Open Order </span>
          <span *ngIf="!isOpen"> Close Order </span>
        </h3>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <div class="form-group">
          <button type="submit" (click)="btnOpenClose()" class="font-md-bold btn btn-buy w-auto">
            {{ btntext }}
          </button>
        </div>
      </div>    
    </div>
    <div class="row padding-lr-80">
      <div class="col-lg-12 col-md-12" style="margin-top: 10px">
        <table class="rwd-table mb-20">
          <tbody>
            <tr>
              <th>Shipment</th>
              <th>Status</th>
              <th>Customer Name</th>
              <th>Location</th>
              <th>State</th>
              <th>Wanted</th>
              <th>Shipped</th>
              <th>Lines</th>
              <th>Total</th>
              <th>GP%</th>
              <th>Source</th>
              <th>Ship Method</th>
              <th>Billing Option</th>
            </tr>
            <tr class="cpointer" *ngFor="let shipment of product">
              <td data-th="Id">{{ shipment.manifestId }}</td>
              <td data-th="Status">{{ shipment.status }}</td>
              <td data-th="Order">
                {{ shipment.order.customer.name }}
                <span *ngIf="shipment.order.customer != undefined"> </span>
              </td>
              <td data-th="Name">{{ shipment.customerLocation.name }}</td>
              <td data-th="State">
                {{ shipment.state }}
              </td>
              <td data-th="Date">{{ shipment.wantedDate | date : "MMM dd yyyy" }}</td>
              <td data-th="Status">{{ shipment.pickStatus }}</td>
              <td data-th="Line Count">{{ shipment.orderShipmentLineCount }}</td>
              <td data-th="Total Gross">{{ shipment.totalGross }}</td>
              <td data-th="Profit Percentage">{{ shipment.grossProfitPercentage }}%</td>
              <td data-th="Source Code">{{ shipment.order.orderSource.code }}</td>
              <td data-th="Ship Code">{{ shipment.systemShipVia.shipViaCode }}</td>
              <td data-th="Billing">{{ shipment.billingOption.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  