<div class="success-container">
    <!-- <img src="assets/Logo.jpg" alt="Logo" class="logo" /> -->
    <div class="icon">
        <!-- Success Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm-1-10.293a1 1 0 0 1 1.415 0l2 2a1 1 0 0 1 0 1.414l-3 3a1 1 0 0 1-1.414 0l-1-1a1 1 0 0 1 0-1.414l2-2a1 1 0 0 1 1.415 0z"/>
          </svg>
          
      </div>
    <h1>{{lblOrder}}</h1>
    <p>{{lbltext}}</p>
    <div id="Payment_Details" [innerHTML]="OrderPaymentDetails">

    </div>
    <button (click)="goHome()">Go to Home</button>
  </div>
  