<app-header></app-header>
  <div>
    <!-- [config]="{animationType: ngxLoadingAnimationTypes.circleSwish, primaryColour: primaryColour, backdropBorderRadius: '3px'} [template]="loadingTemplate"" -->
    <div class="body-content outer-top-xs" id="top-banner-and-menu">
        <!-- [ngClass]="{'container-fluid': url=='/home','container': url!='/home'}" -->
        <div class="">
                    <main class="main">
                  
                <div class="sidebar">
                    <!-- col-xs-12 col-sm-12 col-md-3 sidebar -->
                    <app-side-menu></app-side-menu>
                </div>
                    <div class="bgwhite">
                        
                        <router-outlet></router-outlet>
                    </div>
                    
 </main>
 

        </div>
    </div>
</div>
<app-footer></app-footer>
