
   <ul class="child-menu">
    <ng-container *ngFor="let item of childMenuItems">
      <li class="wow animate__animated animate__fadeIn" data-wow-delay=".0s">
        <div class="box-category hover-up" data-match-height="groupName">
          <div class="image">
            <a href="javascript:void(0)" target="_blank"> 
              <i class="bi bi-backpack4-fill"></i>
              <img src="/assets/images/Category/comman.png" [alt]="item.category">
            </a>
          </div>
          <div class="text-info">
            <a class="font-sm color-gray-900 font-bold" href="javascript:void(0)" target="_blank">{{ item.category }}</a>
            <p class="font-xs color-gray-500">{{ item.category }}</p>
          </div>
          

          <div class="product-details">
            <h4 class="font-sm color-gray-900">Product Details</h4>
            <p class="font-xs color-gray-500">Detail 1: {{ item.detail1 }}</p>
            <p class="font-xs color-gray-500">Detail 2: {{ item.detail2 }}</p>
            <!-- More details can be added as necessary -->
            <div class="detail-item">
              <img src="/assets/images/details/detail1.png" alt="Detail 1" class="detail-image">
              <span class="font-xs color-gray-500">{{ item.detail1 }}</span>
            </div>
            <div class="detail-item">
              <img src="/assets/images/details/detail2.png" alt="Detail 2" class="detail-image">
              <span class="font-xs color-gray-500">{{ item.detail2 }}</span>
            </div>
          </div>
        </div>

          
        <!-- </div> -->
      </li>
    </ng-container>
  </ul>
  