<div class="container-fluid">
    <div class="row padding-lr-80 mt-30">
      <div class="col-md-8">
        <h3>
          Quotes
          <span *ngIf="isOpen"> Open </span>
          <span *ngIf="!isOpen"> Close </span>
        </h3>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <div class="form-group">
          <button type="submit" (click)="btnOpenClose()" class="font-md-bold btn btn-buy w-auto">
            {{ btntext }}
          </button>
        </div>
      </div>    
    </div>
    <div class="row padding-lr-80">
      <div class="col-lg-12 col-md-12" style="margin-top: 10px">
        <table class="rwd-table mb-20">
          <tbody>
            <tr>
              <th>Quote</th>
              <th>Status</th>
              <th>Customer Name</th>
              <th>Reference</th>
              <th>Sales Rep</th>
              <th>Date</th>
              <th>Lines</th>
              <th>Total</th>
              <th>Adj Total</th>
            </tr>
            <tr class="cpointer" *ngFor="let shipment of product">
              <td data-th="Number">{{ shipment.orderQuoteNumber }}</td>
              <td data-th="Status">
                <span *ngIf="shipment.open">Open</span>
                <span *ngIf="!shipment.open">Close</span>
              </td>
              <td data-th="Reference">
                {{ shipment.reference }}
              </td>
              <td data-th="Customer Name">{{ shipment.customer.name }}</td>
              <td data-th="Name">
                <span *ngIf="shipment.salesRepresentative != undefined">
                     {{ shipment.salesRepresentative.name }}
                </span>
              </td>
              <td data-th="Created At">{{ shipment.createdAt | date : "MMM dd yyyy" }}</td>
              <td data-th="Count">{{ shipment.orderQuoteLineCount }}</td>
              <td data-th="Line Total">{{ shipment.orderQuoteLineTotal }}</td>
              <td data-th="Total">{{ shipment.adjustedTotal }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  