<div class="container-fluid">
    <div class="row mb-50 padding-lr-80 mt-30">
      <div class="col-md-8">
          <h3>
              Order Invoice
              <span *ngIf="isOpen"> Open List </span>
              <span *ngIf="!isOpen"> Close List </span>
            </h3>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
          <div class="form-group">
              <button
                type="submit"
                (click)="btnOpenClose()"
                class="font-md-bold btn btn-buy w-auto"
              >
                {{ btntext }}
              </button>
            </div>
      </div>
      <div class="col-lg-12 col-md-12" style="margin-top: 10px">
        <table class="rwd-table mb-20">
          <tbody>
            <tr>
              <th>Invoice</th>
              <th>Invoice Date</th>
              <th>Status</th>
              <th>Customer Name</th>
              <th>Location</th>
              <th>Line</th>
              <th>Total Gross</th>
              <th>Add Ons</th>
              <th>Sales Tax</th>
              <th>Invoice Total</th>
              <th>Terms</th>
              <th>Due Date</th>
              <th>Payment</th>
              <th>Open Amount</th>
            </tr>
            <tr class="cpointer" *ngFor="let order of paginatedData">
              <td data-th="Invoice Number">{{ order.invoiceNumber }}</td>
              <td data-th="Invoice Date">{{ order.invoiceDate | date:"MMM-dd-yyyy" }}</td>
              <td data-th="Status">
                <span *ngIf="order.isOpen==true">
                    Open
                </span>
                <span *ngIf="order.isOpen==false">
                    Close
                </span>
              </td>
              <td data-th="Name">
                <span *ngIf="order.customer != undefined">
                  {{ order.customer.name }}
                </span>
              </td>
              <td data-th="Location">
                <span *ngIf="order.order != undefined">
                    <span *ngIf="order.order.customerLocation != undefined">
                        {{ order.order.customerLocation.name }}
                    </span>
                  </span>
            </td>
            <td data-th="Total Lines">
                {{order.order.totalLines}}
            </td>
            <td data-th="Total Gross">
                {{order.totalGross}}
            </td>
            <td data-th="Total Amount">
                {{order.iTotTaxAmount}}
            </td>
            <td data-th="Codes Amount">
                {{order.iTotCodesAmount}}
            </td>
            <td data-th="Tax Addons">
                {{order.totalWithTaxAndAddOns}}
            </td>
            <td data-th="Payment Term">
                <span *ngIf="order.paymentTerm != undefined">
                    {{order.paymentTerm.slug}}
                </span>
            </td>
            <td data-th="Due Date">
                {{ order.dueDate | date:"MMM-dd-yyyy" }}
            </td>
            <td data-th="Payment">
                {{ order.payments }}
            </td>
            <td data-th="Total Gross">
                {{ order.totalGross }}
            </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination Controls -->
        <div class="pagination">
            <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
            Previous
            </button>
            <span>   Page {{ currentPage }} of {{ totalPagesCount }}</span>
            <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPagesCount">
            Next
            </button>
        </div>
    </div>
  </div>
  