<main class="main">
   <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
         <!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
         <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
         <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
         <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
         <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
            aria-label="Slide 5"></button> -->
      </div>
      <div class="carousel-inner">
         <div class="carousel-item active">
            <!-- <img src="assets/images/slider/slide-3.png" class="d-block w-100" alt="..."> -->
            <div class="video video-vimeo">
               <iframe src="https://player.vimeo.com/video/470252202?h=d3835dce8e&amp;muted=1&amp;loop=1&amp;background=1" width="1366" height="540" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" title="TroopReducedSize.mp4" data-ready="true" id="preview-video"></iframe>
            </div>
            <div class="carousel-caption d-none d-md-block">
               <h5 class="slide-title">INDUSTRIAL</h5>
               <p class="slide-descr">CIVIL PRODUCTS - STUD BOLTS - GASKETS - FASTENERS - FITTINGS CONSTRUCTION
                  SUPPLIES</p>
               <a class="btn btn-learn" href="civil-products.html" target="_blank">View Our Products</a>
            </div>

         </div>
         <!-- <div class="carousel-item">
            <img src="assets/images/slider/slide-2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
               <h5 class="slide-title">150 + Years Of Combined Knowledge Of Fasteners</h5>
               <p class="slide-descr">Our combined knowledge of fasteners and industrial supply, EXCEEDS all others!
               </p>
               <a class="btn btn-learn" href="industries-served.html" target="_blank">More
                  About</a>
            </div>
         </div>
         <div class="carousel-item">
            <img src="assets/images/slider/slide-3.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
               <h5 class="slide-title">MBF Customer Service</h5>
               <p class="slide-descr">Talk to highly knowledgeable Staff, we know the right parts for every
                  application.</p>
               <a class="btn btn-learn" href="iso-certified-quality.html"
                  target="_blank">More About</a>
            </div>
         </div>
         <div class="carousel-item">
            <img src="assets/images/slider/slide-4.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
               <h5 class="slide-title">1 Million + Inventory</h5>
               <p class="slide-descr">44,000 of our own inventory PLUS manufacturers inventory = Inventory at its
                  best!</p>
               <a class="btn btn-learn" href="https://www.metroboltmi.com/shop-service-parts/" target="_blank">More
                  About</a>
            </div>
         </div> -->
      </div>
      <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
         data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="material-symbols-outlined">
            arrow_back_ios
         </span>
         <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
         data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="material-symbols-outlined">
            arrow_forward_ios
         </span>
         <span class="visually-hidden">Next</span>
      </button> -->
   </div>
   <section class="section-box pt-30">
      <div class="container">
         <div class="head-main bd-gray-200 mb-0 border-none pb-0">
            <div class="row">
               <div class="col-lg-12">
                  <h3>Troop Industrial &amp; Fastener</h3>
                  <h4>The Largest Non-Ferrous Inventory in the Detroit Metro Area</h4>
                     <p class="font-base color-gray-500">Stainless, Brass, Copper and Titanium Whether you are
                        looking for Standard Fasteners to Blue Print Specials, Nobody Out Performs Troop Industrial &amp;
                        Fastener! Stop in and check us out for your local industrial supply shop!</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="section-box pt-50">
      <div class="container">
         <div class="row">
            <div class="list-notifications">
               <div class="item-notification">
                  <div class="image-notification"><img src="https://www.troopindustrial.com/hubfs/Troop-Civil-Materials-1200x630.jpg" alt="Ecom">
                  </div>
                  <div class="info-notification">
                     <h5>Civil products in stock and ready to ship.</h5>
                     <p class="font-md color-brand-3">All name brand materials in-stock and available.</p>
                     <p class="font-md color-brand-3">You do important work, and you do it best when you have the
                        materials you need. Civil Engineering is a high-stakes industry. Troop Industrial understands
                        that.</p>
                  </div>
                  <div class="button-notification"><a class="btn btn-buy w-auto">View Details</a></div>
               </div>
               <div class="item-notification">
                  <div class="image-notification"><img src="https://www.troopindustrial.com/hubfs/TroopIndustrial_April2022/Images/RSZDStudBolt.png" alt="Ecom"></div>
                  <div class="info-notification">
                     <h5>Stud Bolts</h5>
                     <p class="font-md color-brand-3">B7, B8, B8M, B16, L7, L7M, 660 and much more. Trust the
                        strength of Troop.</p>
                  </div>
                  <div class="button-notification"><a class="btn btn-buy w-auto">View Details</a></div>
               </div>
               <div class="item-notification">
                  <div class="image-notification"><img src="https://www.troopindustrial.com/hubfs/TroopIndustrial_April2022/Images/Gaskets-1.png" alt="Ecom"></div>
                  <div class="info-notification">
                     <h5>Gaskets</h5>
                     <p class="font-md color-brand-3">Full lines of Lamons and Leader gaskets - spiral wound, ring
                        joint, PTFE, and many more..</p>
                  </div>
                  <div class="button-notification"><a class="btn btn-buy w-auto">View Details</a></div>
               </div>
               <div class="item-notification">
                  <div class="image-notification"><img src="https://www.troopindustrial.com/hubfs/TroopIndustrial_April2022/Images/Struct-Fastn----A1020.png" alt="Ecom"></div>
                  <div class="info-notification">
                     <h5>Structural Fasteners</h5>
                     <p class="font-md color-brand-3">A325 , A490 heavy hex bolts, F436 flat washers, etc.</p>
                  </div>
                  <div class="button-notification"><a class="btn btn-buy w-auto">View Details</a></div>
               </div>
               <div class="item-notification">
                  <div class="image-notification"><img src="https://www.troopindustrial.com/hubfs/TroopIndustrial_April2022/Images/Flagens----A1020.png" alt="Ecom"></div>
                  <div class="info-notification">
                     <h5>Flanges</h5>
                     <p class="font-md color-brand-3">Pipe plugs, blind flanges, pipe fittings, crosses, couplings,
                        etc.</p>
                  </div>
                  <div class="button-notification"><a class="btn btn-buy w-auto">View Details</a></div>
               </div>
               <div class="item-notification">
                  <div class="image-notification"><img src="https://www.troopindustrial.com/hubfs/TroopIndustrial_April2022/Images/IRodNubolt----A1020_704x576.png" alt="Ecom"></div>
                  <div class="info-notification">
                     <h5>Nu-Bolt &amp; I-Rod</h5>
                     <p class="font-md color-brand-3">Troop is the only stocking provider in Texas for I-Rod &amp;
                        Nu-Bolt</p>
                  </div>
                  <div class="button-notification"><a class="btn btn-buy w-auto">View Details</a></div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="section-box box-newsletter text-center main-box">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
               <h3 class="color-white">See the Vision Behind our Mission</h3>
               <p class="font-lg color-white">With three locations throughout the Gulf Coast of Texas and Louisiana,
                  Troop Industrial is in prime position to serve the nation’s economic engine. Our organization is
                  built for speed in service and delivery.</p>
               <p class="font-lg color-white">And it all starts here.</p>
            </div>
         </div>
      </div>
      
   </section>
   <section class="section-box pt-30">
      <div class="container">
         <!-- <div class="pb-0 head-main text-center border-none">
               <h4 class="color-gray-900">Most Popular Categories</h4>
               </div> -->
         <div class="head-main bd-gray-200">
            <div class="row">
               <div class="col-lg-12">
                  <h3>Most Popular</h3>
                  <p class="font-base color-gray-500">Proud Distributor of Top Brands</p>
               </div>
            </div>
         </div>
         <div class="mt-10">
            <ul class="list-9-col">
               <li class="wow animate__animated animate__fadeIn" data-wow-delay=".0s" style="animation-delay: 0s; animation-name: none;">
                  <div class="box-category hover-up" data-match-height="groupName" style="min-height: 102px;">
                     <div class="image">
                        <img src="https://www.troopindustrial.com/hubfs/TroopIndustrial_April2022/Images/LOGO_Nucor_L_Troop_900x400.png" alt="Ecommerce">
                     </div>
                  </div>
               </li>
               <li class="wow animate__animated animate__fadeIn" data-wow-delay=".1s" style="animation-delay: 0.1s; animation-name: none;">
                  <div class="box-category hover-up" data-match-height="groupName" style="min-height: 102px;">
                     <div class="image">
                        <img src="https://www.troopindustrial.com/hubfs/TroopIndustrial_April2022/Images/LOGO_Lamons_900x400.png" alt="Ecommerce">
                     </div>
                  </div>
               </li>
               <li class="wow animate__animated animate__fadeIn" data-wow-delay=".2s" style="animation-delay: 0.2s; animation-name: none;">
                  <div class="box-category hover-up" data-match-height="groupName" style="min-height: 102px;">
                     <div class="image">
                        <img src="https://www.troopindustrial.com/hubfs/TroopIndustrial_April2022/Images/LOGO_Isotek_lamons_900x400.png" alt="Ecommerce">
                     </div>
                  </div>
               </li>
               <li class="wow animate__animated animate__fadeIn" data-wow-delay=".3s" style="animation-delay: 0.3s; animation-name: none;">
                  <div class="box-category hover-up" data-match-height="groupName" style="min-height: 102px;">
                     <div class="image">
                        <img src="https://www.troopindustrial.com/hubfs/TroopIndustrial_April2022/Images/LOGO_Infasco_Troop_900x400.png" alt="Ecommerce">
                     </div>
                  </div>
               </li>
               <li class="wow animate__animated animate__fadeIn" data-wow-delay=".4s" style="animation-delay: 0.4s; animation-name: none;">
                  <div class="box-category hover-up" data-match-height="groupName" style="min-height: 102px;">
                     <div class="image">
                        <img src="https://www.troopindustrial.com/hubfs/TroopIndustrial_April2022/Images/LOGO__irwin-tools_800x360.jpg" alt="Ecommerce">
                     </div>
                  </div>
               </li>
               <li class="wow animate__animated animate__fadeIn" data-wow-delay=".5s" style="animation-delay: 0.5s; animation-name: none;">
                  <div class="box-category hover-up" data-match-height="groupName" style="min-height: 102px;">
                     <div class="image">
                        <img src="https://www.troopindustrial.com/hubfs/TroopIndustrial_April2022/Images/LOGO_Garlock_900x400.png" alt="Ecommerce">
                     </div>
                  </div>
               </li>
               <li class="wow animate__animated animate__fadeIn" data-wow-delay=".6s" style="animation-delay: 0.6s; animation-name: none;">
                  <div class="box-category hover-up" data-match-height="groupName" style="min-height: 102px;">
                     <div class="image">
                        <img src="https://www.troopindustrial.com/hubfs/GS%20jpeg%20Logo.jpg" alt="Ecommerce">
                     </div>
                  </div>
               </li>
               <li class="wow animate__animated animate__fadeIn" data-wow-delay=".7s" style="animation-delay: 0.7s; animation-name: none;">
                  <div class="box-category hover-up" data-match-height="groupName" style="min-height: 102px;">
                     <div class="image">
                        <img src="https://www.troopindustrial.com/hubfs/TroopIndustrial_April2022/Images/LEADER_GASKET_LOGO_293x172.png" alt="Ecommerce">
                     </div>
                  </div>
               </li>
               <li class="wow animate__animated animate__fadeIn" data-wow-delay=".8s" style="animation-delay: 0.8s; animation-name: none;">
                  <div class="box-category hover-up" data-match-height="groupName" style="min-height: 102px;">
                     <div class="image">
                        <img src="https://www.troopindustrial.com/hubfs/TroopIndustrial_April2022/Images/logo-Superlok_1209x171.png" alt="Ecommerce">
                     </div>
                  </div>
               </li>
               <li class="wow animate__animated animate__fadeIn" data-wow-delay=".1s" style="animation-delay: 0.1s; animation-name: none;">
                  <div class="box-category hover-up" data-match-height="groupName" style="min-height: 102px;">
                     <div class="image">
                        <img src="https://www.troopindustrial.com/hubfs/TroopIndustrial_April2022/Images/LOGO_Nucor_L_Troop_900x400.png" alt="Ecommerce">
                     </div>
                  </div>
               </li>
               <li class="wow animate__animated animate__fadeIn" data-wow-delay=".1s" style="animation-delay: 0.1s; animation-name: none;">
                  <div class="box-category hover-up" data-match-height="groupName" style="min-height: 102px;">
                     <div class="image">
                        <img src="https://www.troopindustrial.com/hubfs/TroopIndustrial_April2022/Images/LOGO_DeepwaterTroop_900x400.png" alt="Ecommerce">
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </section>
   <section class="section-box box-newsletter text-center">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
               <h3 class="color-white mb-15">Supporting Those Who Serve</h3>
               <p class="font-lg color-white">We believe in paying it forward. Our service men and women sacrifice
                  everything to give us the liberties and opportunities to do what we do. We are proud to use our
                  success for the benefit of others who protect
                  and serve, and we support veteran based non-profits every month and throughout the year that are
                  fiscally responsible and make a huge impact on veterans that are coming home and need our
                  help.</p>
            </div>
         </div>
      </div>
      
   </section>
   <section class="section-box pt-30">
      <div class="container">
         <div class="head-main bd-gray-200">
            <div class="row">
               <div class="col-lg-12">
                  <h3>Call in the Troops</h3>
                  <p class="font-base color-gray-500">Time is important to your project’s success. Put our wide
                     variety of supplies and our super-duty service to work for you. Click through to see what we
                     have to offer and what we can do for you.</p>
                  <h5 class="text-danger">Call 409.727.7384 Now</h5>
                  <div class="button-notification mt-10">
                     <a href="contactus.html" class="btn btn-learn w-auto">Request A Quote</a>
                  </div>
                  <img class="img-contact" src="https://www.troopindustrial.com/hubfs/TroopIndustrial_April2022/Images/LOGO_TROOP__ModLL.png" alt="Logo">
               </div>
            </div>
         </div>
         <div class="mt-10">
            <div class="contact-img-box">
               <img src="https://www.troopindustrial.com/hubfs/TroopIndustrial_April2022/Images/HOMEPICS---GridPhotosNew-Resized.jpg" class="img-fluid w-100" alt="Contact Img">
            </div>
         </div>
      </div>
   </section>
</main>