   
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
       <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
             aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
             aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
             aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
             aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
             aria-label="Slide 5"></button>
       </div>
       <div class="carousel-inner">
          <div class="carousel-item active">
             <img src="assets/images/slider/slide-3.png" class="d-block w-100" alt="...">
             <div class="carousel-caption d-none d-md-block">
                <h5 class="slide-title">IM 8000 Series</h5>
                <p class="slide-descr">Image Dimension Measurement System !</p>
                <a class="btn btn-learn" href="https://www.metroboltmi.com/mbf-industry-news/340-image-dimension-measurement-system-im-8000-series">
                  More About
                </a>
             </div>
          </div>
          <div class="carousel-item">
             <img src="assets/images/slider/slide-2.png" class="d-block w-100" alt="...">
             <div class="carousel-caption d-none d-md-block">
                <h5 class="slide-title">150 + Years Of Combined Knowledge Of Fasteners</h5>
                <p class="slide-descr">Our combined knowledge of fasteners and industrial supply, EXCEEDS all others!
                </p>
                <a class="btn btn-learn" href="https://www.metroboltmi.com/industries-served">More
                   About</a>
             </div>
          </div>
          <div class="carousel-item">
             <img src="assets/images/slider/slide-3.png" class="d-block w-100" alt="...">
             <div class="carousel-caption d-none d-md-block">
                <h5 class="slide-title">MBF Customer Service</h5>
                <p class="slide-descr">Talk to highly knowledgeable Staff, we know the right parts for every
                   application.</p>
                <a class="btn btn-learn" href="https://www.metroboltmi.com/about-us/iso-certified-quality"
                   >More About</a>
             </div>
          </div>
          <div class="carousel-item">
             <img src="assets/images/slider/slide-4.png" class="d-block w-100" alt="...">
             <div class="carousel-caption d-none d-md-block">
                <h5 class="slide-title">1 Million + Inventory</h5>
                <p class="slide-descr">44,000 of our own inventory PLUS manufacturers inventory = Inventory at its
                   best!</p>
                <a class="btn btn-learn" href="https://www.metroboltmi.com/shop-service-parts/">More
                   About</a>
             </div>
          </div>
       </div>
       <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
          <span class="material-symbols-outlined">
             arrow_back_ios
          </span>
          <span class="visually-hidden">Previous</span>
       </button>
       <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
          <span class="material-symbols-outlined">
             arrow_forward_ios
          </span>
          <span class="visually-hidden">Next</span>
       </button>
    </div>
    <section class="section-box pt-30">
       <div class="container">
          <div class="head-main bd-gray-200 mb-0 border-none pb-0">
             <div class="row">
                <div class="col-lg-12">
                   <h3 class="mb-5">Metro Bolt & Fastener</h3>
                   <h4 class="mb-5">The Largest Non-Ferrous Inventory in the Detroit Metro Area</h4>
                      <p class="font-base color-gray-500">Stainless, Brass, Copper and Titanium Whether you are
                         looking for Standard Fasteners to Blue Print Specials, Nobody Out Performs Metro Bolt &
                         Fastener! Stop in and check us out for your local industrial supply shop!</p>
                </div>
             </div>
          </div>
       </div>
    </section>

    <section class="section-box pt-50">
       <div class="container">
          <div class="row">
             <div class="col-lg-3 mb-20">
                <div class="bg-4 box-bdrd-4 bg-headphone text-center">
                   <!-- <span class="font-md color-brand-3">Headphone</span> -->
                   <div class="glass-effect"></div>
                   <h4 class="font-30 color-gray-1000 mb-10 mt-5 text-white-shadow">INVENTORY HELP</h4>
                   <p class="color-brand-1 font-sm cont-detail-text">Get help finding the fastener you need for your
                      application.</p>
                   <div class="mt-35">
                      <a class="btn btn-brand-2 btn-arrow-right" href="#">Click Here</a>
                   </div>
                </div>
             </div>
             <div class="col-lg-5 col-md-6 col-sm-6 mb-20">
                <div class="bg-6 box-bdrd-4 bg-watch text-center">
                   <div class="glass-effect"></div>
                   <h4 class="font-30 color-gray-1000 mb-10 mt-5 text-white-shadow">GET A FREE QUOTE</h4>
                   <p class="color-brand-1 font-sm cont-detail-text">Get an instant quote. No application is too big
                      or to small. Click Here For A Quote!.</p>
                   <div class="mt-35">
                      <a class="btn btn-brand-2 btn-arrow-right" href="#">Click Here</a>
                   </div>
                </div>
             </div>
             <div class="col-lg-4 col-md-6 col-sm-6 mb-20">
                <div class="bg-5 box-bdrd-4 bg-ipad text-center">
                   <div class="glass-effect"></div>
                   <h4 class="font-30 color-gray-1000 mb-10 mt-5 text-white-shadow">OUR LOCATION MAP</h4>
                   <p class="color-brand-1 font-sm cont-detail-text">We're easy to find AND we have a large showroom!
                      Click for
                      directions & hours!</p>
                   <div class="mt-35">
                      <a class="btn btn-brand-2 btn-arrow-right" href="#">Click Here</a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>

    <section class="section-box pt-30">
       <div class="container">
          <!-- <div class="pb-0 head-main text-center border-none">
                <h4 class="color-gray-900">Most Popular Categories</h4>
                </div> -->
          <div class="head-main bd-gray-200">
             <div class="row">
                <div class="col-lg-12">
                   <h3 class="mb-5">Most Popular</h3>
                   <p class="font-base color-gray-500">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
             </div>
          </div>
          <div class="mt-10">

            <div class="mt-10">
               <ul class="list-9-col">
                 <ng-container *ngFor="let mm of menuItems">
                   <li class="wow animate__animated animate__fadeIn" data-wow-delay=".0s">
                     <div class="box-category hover-up" data-match-height="groupName">
                       <div class="image">
                         <a [href]="mm.link" target="_blank">
                           <i class="bi bi-backpack4-fill"></i>
                           <img src="/assets/images/Category/comman.png" [alt]="mm.category">
                         </a>
                       </div>
                       <div class="text-info">
                         <a class="font-sm color-gray-900 font-bold" [href]="mm.link" target="_blank">{{ mm.category }}</a>
                         <p class="font-xs color-gray-500">{{ mm.category }}</p>
                       </div>


                       <ul class="sub-menu two-col" *ngIf="activeCategoryId === mm.categoryTranId">
                        <ng-container *ngFor="let ch of GetChildMenu(mm.categoryTranId)">
                          <li>
                            <a href="javascript:void(0)">{{ ch.category }}</a>
                          </li>
                        </ng-container>
                      </ul>

                     </div>
                   </li>
                 </ng-container>
               </ul>
             </div>
             
             <!-- <ul class="list-9-col">
                <li class="wow animate__animated animate__fadeIn" data-wow-delay=".0s">
                   <div class="box-category hover-up" data-match-height="groupName">
                      <div class="image"><a href="https://www.alarmlock.com/"><img
                               src="assets/images/partners-logo/AlarmLock-1.png" alt="Ecommerce"></a></div>
                      <div class="text-info">
                         <a class="font-sm color-gray-900 font-bold" href="https://www.alarmlock.com/">Alarm
                            Lock</a>
                         <p class="font-xs color-gray-500">Alarm Lock</p>
                      </div>
                   </div>
                </li>
                <li class="wow animate__animated animate__fadeIn" data-wow-delay=".1s">
                   <div class="box-category hover-up" data-match-height="groupName">
                      <div class="image"><a
                            href="https://www.securitysales.com/access/locks/allegion-revamped-locknetics-product-line/"><img
                               src="assets/images/partners-logo/allegion_locknetics-2.jpg" alt="Ecommerce"></a></div>
                      <div class="text-info">
                         <a class="font-sm color-gray-900 font-bold"
                            href="https://www.securitysales.com/access/locks/allegion-revamped-locknetics-product-line/">Locknetics</a>
                         <p class="font-xs color-gray-500">Locknetics</p>
                      </div>
                   </div>
                </li>
                <li class="wow animate__animated animate__fadeIn" data-wow-delay=".2s">
                   <div class="box-category hover-up" data-match-height="groupName">
                      <div class="image"><a href="https://www.detex.com/"><img
                               src="assets/images/partners-logo/detex-100-years-red-white-3.png" alt="Ecommerce"></a>
                      </div>
                      <div class="text-info">
                         <a class="font-sm color-gray-900 font-bold" href="https://www.detex.com/">Detex</a>
                         <p class="font-xs color-gray-500">Detex</p>
                      </div>
                   </div>
                </li>
                <li class="wow animate__animated animate__fadeIn" data-wow-delay=".3s">
                   <div class="box-category hover-up" data-match-height="groupName">
                      <div class="image"><a
                            href="https://accesshardware.com/rci-rutherford-controls-international-corp/"><img
                               src="assets/images/partners-logo/rci-c-e1559158224435-4.webp" alt="Ecommerce"></a>
                      </div>
                      <div class="text-info">
                         <a class="font-sm color-gray-900 font-bold"
                            href="https://accesshardware.com/rci-rutherford-controls-international-corp/">RCI</a>
                         <p class="font-xs color-gray-500">RCI</p>
                      </div>
                   </div>
                </li>
                <li class="wow animate__animated animate__fadeIn" data-wow-delay=".4s">
                   <div class="box-category hover-up" data-match-height="groupName">
                      <div class="image"><a href="https://www.don-jo.com/"><img
                               src="assets/images/partners-logo/brand-don-jo-400x74-5.png" alt="Ecommerce"></a></div>
                      <div class="text-info">
                         <a class="font-sm color-gray-900 font-bold" href="https://www.don-jo.com/">Don-Jo</a>
                         <p class="font-xs color-gray-500">Don-Jo</p>
                      </div>
                   </div>
                </li>
                <li class="wow animate__animated animate__fadeIn" data-wow-delay=".5s">
                   <div class="box-category hover-up" data-match-height="groupName">
                      <div class="image"><a href="https://sargentandgreenleaf.com/"><img
                               src="assets/images/partners-logo/sg_logo-6.png" alt="Ecommerce"></a></div>
                      <div class="text-info">
                         <a class="font-sm color-gray-900 font-bold"
                            href="https://sargentandgreenleaf.com/">Sargentandgreenleaf</a>
                         <p class="font-xs color-gray-500">Sargentandgreenleaf</p>
                      </div>
                   </div>
                </li>
                <li class="wow animate__animated animate__fadeIn" data-wow-delay=".6s">
                   <div class="box-category hover-up" data-match-height="groupName">
                      <div class="image"><a href="https://www.southernfolger.com/folger_adam"><img
                               src="assets/images/partners-logo/Folgeradam-7.jpg" alt="Ecommerce"></a></div>
                      <div class="text-info">
                         <a class="font-sm color-gray-900 font-bold"
                            href="https://www.southernfolger.com/folger_adam">Folger Adam</a>
                         <p class="font-xs color-gray-500">Folger Adam</p>
                      </div>
                   </div>
                </li>
                <li class="wow animate__animated animate__fadeIn" data-wow-delay=".7s">
                   <div class="box-category hover-up" data-match-height="groupName">
                      <div class="image"><a
                            href="https://www.dormakaba.com/us-en/offering/products/door-hardware/simplex-mechanical-pushbutton-locks"><img
                               src="assets/images/partners-logo/dormakaba_d59dac0c-e11c-473f-beca-f77e14be27d6_large-8.webp"
                               alt="Ecommerce"></a></div>
                      <div class="text-info">
                         <a class="font-sm color-gray-900 font-bold"
                            href="https://www.dormakaba.com/us-en/offering/products/door-hardware/simplex-mechanical-pushbutton-locks">Dormakaba</a>
                         <p class="font-xs color-gray-500">Dormakaba</p>
                      </div>
                   </div>
                </li>
                <li class="wow animate__animated animate__fadeIn" data-wow-delay=".8s">
                   <div class="box-category hover-up" data-match-height="groupName">
                      <div class="image"><a href="https://www.ilco.us/"><img
                               src="assets/images/partners-logo/logo-website-9.png" alt="Ecommerce"></a></div>
                      <div class="text-info">
                         <a class="font-sm color-gray-900 font-bold" href="https://www.ilco.us/">ICO</a>
                         <p class="font-xs color-gray-500">ILCO</p>
                      </div>
                   </div>
                </li>
                <li class="wow animate__animated animate__fadeIn" data-wow-delay=".1s">
                   <div class="box-category hover-up" data-match-height="groupName">
                      <div class="image"><a href="https://www.soss.com/"><img
                               src="assets/images/partners-logo/svgviewer-png-output-10.png" alt="Ecommerce"></a>
                      </div>
                      <div class="text-info">
                         <a class="font-sm color-gray-900 font-bold" href="https://www.soss.com/">SOSS</a>
                         <p class="font-xs color-gray-500">SOSS</p>
                      </div>
                   </div>
                </li>
                <li class="wow animate__animated animate__fadeIn" data-wow-delay=".1s">
                   <div class="box-category hover-up" data-match-height="groupName">
                      <div class="image"><a href="https://kerisys.com/"><img
                               src="assets/images/partners-logo/Keri-Systems-Logo-11.png" alt="Ecommerce"></a></div>
                      <div class="text-info">
                         <a class="font-sm color-gray-900 font-bold" href="https://kerisys.com/">KERI System</a>
                         <p class="font-xs color-gray-500">KERI System</p>
                      </div>
                   </div>
                </li>
                <li class="wow animate__animated animate__fadeIn" data-wow-delay=".1s">
                   <div class="box-category hover-up" data-match-height="groupName">
                      <div class="image"><a href="https://securitron.com/"><img
                               src="assets/images/partners-logo/Securitron-Magnalock-500X500-12.jpg"
                               alt="Ecommerce"></a></div>
                      <div class="text-info">
                         <a class="font-sm color-gray-900 font-bold" href="https://securitron.com/">Securitron</a>
                         <p class="font-xs color-gray-500">Securitron</p>
                      </div>
                   </div>
                </li>
                <li class="wow animate__animated animate__fadeIn" data-wow-delay=".1s">
                   <div class="box-category hover-up" data-match-height="groupName">
                      <div class="image"><a href="https://www.allegion.com/corp/en/brands/lcn.html/"><img
                               src="assets/images/partners-logo/download-13.png" alt="Ecommerce"></a></div>
                      <div class="text-info">
                         <a class="font-sm color-gray-900 font-bold"
                            href="https://www.allegion.com/corp/en/brands/lcn.html/">LCN</a>
                         <p class="font-xs color-gray-500">LCN</p>
                      </div>
                   </div>
                </li>
                <li class="wow animate__animated animate__fadeIn" data-wow-delay=".1s">
                   <div class="box-category hover-up" data-match-height="groupName">
                      <div class="image"><a href="https://www.trineonline.com/"><img
                               src="assets/images/partners-logo/trine_logo_5-14.png" alt="Ecommerce"></a></div>
                      <div class="text-info">
                         <a class="font-sm color-gray-900 font-bold" href="https://www.trineonline.com/">Trine</a>
                         <p class="font-xs color-gray-500">Trine</p>
                      </div>
                   </div>
                </li>
                <li class="wow animate__animated animate__fadeIn" data-wow-delay=".1s">
                   <div class="box-category hover-up" data-match-height="groupName">
                      <div class="image"><a href="https://linear-solutions.com/linear-keypads/"><img
                               src="assets/images/partners-logo/brand-nice-linear-15.svg" alt="Ecommerce"></a></div>
                      <div class="text-info">
                         <a class="font-sm color-gray-900 font-bold"
                            href="https://linear-solutions.com/linear-keypads/">Linear</a>
                         <p class="font-xs color-gray-500">Linear</p>
                      </div>
                   </div>
                </li>
                <li class="wow animate__animated animate__fadeIn" data-wow-delay=".1s">
                   <div class="box-category hover-up" data-match-height="groupName">
                      <div class="image"><a href="https://www.vonduprin.com/en/index.html"><img
                               src="assets/images/partners-logo/von-duprin-logo-16.svg" alt="Ecommerce"></a></div>
                      <div class="text-info">
                         <a class="font-sm color-gray-900 font-bold"
                            href="https://www.vonduprin.com/en/index.html">Von Duprin</a>
                         <p class="font-xs color-gray-500">Linear</p>
                      </div>
                   </div>
                </li>
             </ul> -->
          </div>
       </div>
    </section>

