<div class="col-md-12 w-100">
    <section class="section-box bg-gray-50">
        <div class="container-fluid">
           <div class="row">
              <div class="col-md-12">
                 <div class="padding-tb-10 text-start text-white">
                    <a href="#" class="text-white fw-bold">Home</a>
                 </div>
                 <!-- <p class="padding-tb-10 text-center text-white">Populate this marketing banner to advertise a special
                    promotion such as: <span class="font-sm-bold">Save 20% this weekend!</span></p> -->
              </div>
           </div>
        </div>
     </section>
</div>