<!-- <div class="section-box posi-absolute">
  <div class="breadcrumbs-div">
      <div class="container-fluid">
          <ul class="breadcrumb">
              <li><a class="font-xs color-gray-1000" href="home">Home</a></li>
              <li><a class="font-xs color-gray-500" href="register">Registration</a></li>
          </ul>
      </div>
  </div>
</div> -->
<section class="section-box shop-template mt-60">
  <div class="head-main mt-30" style="border-bottom: none">
    <div class="container-fluid">
      <div class="row padding-lr-80">
        <div class="col-md-12">
          <h1 class="head-text">{{ RegistrationLable }}</h1>
          <p class="text-danger">
            All fields marked with an asterisk (*) must be completed
          </p>
        </div>
      </div>
      <div class="row">
        <div *ngIf="isShowMsg" class="col-md-12 b2bmsg">
          <h5>
            {{ returnmsg }} &nbsp;
            <a *ngIf="isShowMsg1" [routerLink]="['/login']" class="greencolor"
              >Go to Login</a
            >
          </h5>
        </div>
      </div>
      <div class="row mb-100 padding-lr-80">
        <form
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
          class="requires-validation px-0"
        >
          <div
            class="form-register align-flex justify-content-start align-items-baseline"
          >
            <!-- <div class="col-12 col-md-4 d-flex mb-30 d-none"> -->
            <!-- <div class="form-group"> -->
            <!-- <label class="mb-5">Are you an existing krayden Customer?</label> -->
            <!-- <div class="did-floating-label-content mb-0 ml-15"> -->
            <!-- <input class="checkagree" type="checkbox" #iscustomer="ngModel" [(ngModel)]="form.iscustomer" name="iscustomer"> -->
            <!-- <label class="did-floating-label ml-15" id="top-res">No</label> -->
            <!-- </div> -->
            <!-- </div> -->
            <div class="col-12 col-md-4 offset-md-4 d-none">
              <div class="form-group" *ngIf="form.iscustomer">
                <label for="customerid">Customer ID</label
                ><span class="displaynone">*</span>
                <div class="did-floating-label-content mb-0">
                  <input
                    class="did-floating-input brder-color-grey"
                    type="text"
                    autocomplete="off"
                    (blur)="checkcustomer()"
                    [maxlength]="40"
                    #customerid="ngModel"
                    id="customerid"
                    [(ngModel)]="form.customerid"
                    name="customerid"
                    required
                  />
                  <div *ngIf="iscustomeridValidation" class="invalid-feedback">
                    Customer ID cannot be blank.
                  </div>
                  <label
                    >The Customer ID can be found on your last invoice</label
                  >
                </div>
              </div>
            </div>
            <br />
            <div class="col-12 col-md-4">
              <div class="form-group">
                <!-- <label class="mb-5 font-sm color-gray-700">First Name</label><span class="displaynone">*</span> -->
                <div class="did-floating-label-content mb-0">
                  <input
                    type="text"
                    name="FirstName"
                    [(ngModel)]="form.FirstName"
                    required
                    minlength="3"
                    maxlength="20"
                    #username="ngModel"
                    [ngModelOptions]="{ standalone: true }"
                    class="did-floating-input brder-color-grey"
                    maxlength="15"
                  />
                  <label class="did-floating-label"
                    >First Name <span>*</span></label
                  >
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <!-- <label class="mb-5 font-sm color-gray-700">First Name</label><span class="displaynone">*</span> -->
                <div class="did-floating-label-content mb-0">
                  <input
                    type="text"
                    [(ngModel)]="form.FirstName"
                    required
                    minlength="3"
                    maxlength="20"
                    #username="ngModel"
                    name="LastName"
                    [(ngModel)]="form.LastName"
                    class="did-floating-input brder-color-grey"
                    maxlength="15"
                  />
                  <label class="did-floating-label"
                    >Last Name <span>*</span></label
                  >
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <!-- <label class="mb-5 font-sm color-gray-700">First Name</label><span class="displaynone">*</span> -->
                <div class="did-floating-label-content mb-0">
                  <input
                    type="text"
                    [(ngModel)]="form.FirstName"
                    required
                    minlength="10"
                    maxlength="13"
                    #username="ngModel"
                    name="phoneNumber"
                    [(ngModel)]="form.phoneNumber"
                    class="did-floating-input brder-color-grey"
                    maxlength="15"
                  />
                  <label class="did-floating-label"
                    >Phone Number <span>*</span></label
                  >
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <!-- <label class="mb-5 font-sm color-gray-700">First Name</label><span class="displaynone">*</span> -->
                <div class="did-floating-label-content mb-0">
                  <input
                    type="email"
                    name="email"
                    [(ngModel)]="form.email"
                    required
                    email
                    #email="ngModel"
                    (blur)="checkemail(form.email)"
                    class="did-floating-input brder-color-grey"
                  />
                  <label class="did-floating-label">Email <span>*</span></label>
                </div>
                <div
                  class="alert-danger d-flex"
                  *ngIf="
                    (email.errors && f.submitted) || isvalidateemail === false
                  "
                >
                  <div
                    *ngIf="email.errors !== null && email.errors['required']"
                  >
                    Email is required
                  </div>
                  <div *ngIf="email.errors !== null && email.errors['email']">
                    Email must be a valid email address
                  </div>
                  <div *ngIf="isvalidateemail === false">
                    Please check emailId
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="form-group">
                <!-- <label class="mb-5 font-sm color-gray-700">First Name</label><span class="displaynone">*</span> -->
                <div class="did-floating-label-content mb-0">
                  <input
                    type="password"
                    name="password"
                    [(ngModel)]="form.password"
                    required
                    minlength="6"
                    #password="ngModel"
                    class="did-floating-input brder-color-grey"
                  />
                  <label class="did-floating-label"
                    >Password <span>*</span></label
                  >
                </div>
                <div
                  class="alert-danger"
                  *ngIf="password.errors && f.submitted"
                >
                  <div *ngIf="password.errors['required']">
                    Password is required
                  </div>
                  <div *ngIf="password.errors['minlength']">
                    Password must be at least 6 characters
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="form-group">
                <!-- <label class="mb-5 font-sm color-gray-700">First Name</label><span class="displaynone">*</span> -->
                <div class="did-floating-label-content mb-0">
                  <input
                    [type]="hide1 ? 'password' : 'text'"
                    autocomplete="off"
                    [maxlength]="20"
                    #ConfirmPassword="ngModel"
                    id="userConfirmPassword"
                    [(ngModel)]="form.ConfirmPassword"
                    name="ConfirmPassword"
                    required
                    validateEqual="Password"
                    reverse="false"
                    class="did-floating-input brder-color-grey"
                  />
                  <label class="did-floating-label"
                    >Confirm Password <span>*</span></label
                  >
                </div>
                <div class="invalid-feedback" *ngIf="confirmPass">
                  Password mismatch
                </div>
              </div>
            </div>

            <!--Company Name-->
            <div class="col-12 col-md-4">
              <div class="form-group">
                <!-- <label class="mb-5 font-sm color-gray-700">First Name</label><span class="displaynone">*</span> -->
                <div class="did-floating-label-content mb-0">
                  <input
                    type="text"
                    name="comapnyName"
                    [(ngModel)]="form.comapnyName"
                    required
                    minlength="3"
                    maxlength="20"
                    #username="ngModel"
                    class="did-floating-input brder-color-grey"
                  />
                  <label class="did-floating-label">Company Name</label>
                </div>
              </div>
            </div>

            <!--Address1-->
            <div class="col-12 col-md-4">
              <div class="form-group">
                <!-- <label class="mb-5 font-sm color-gray-700">First Name</label><span class="displaynone">*</span> -->
                <div class="did-floating-label-content mb-0">
                  <input
                    type="text"
                    name="Address1"
                    [(ngModel)]="form.Address1"
                    required
                    minlength="3"
                    maxlength="20"
                    #username="ngModel"
                    class="did-floating-input brder-color-grey"
                  />
                  <label class="did-floating-label">Address1</label>
                </div>
              </div>
            </div>

            <!--Address2-->
            <div class="col-12 col-md-4">
              <div class="form-group">
                <!-- <label class="mb-5 font-sm color-gray-700">First Name</label><span class="displaynone">*</span> -->
                <div class="did-floating-label-content mb-0">
                  <input
                    type="text"
                    name="Address2"
                    [(ngModel)]="form.Address2"
                    required
                    minlength="3"
                    maxlength="20"
                    #username="ngModel"
                    class="did-floating-input brder-color-grey"
                  />
                  <label class="did-floating-label">Address2</label>
                </div>
              </div>
            </div>

            <!--City-->
            <div class="col-12 col-md-4">
              <div class="form-group">
                <!-- <label class="mb-5 font-sm color-gray-700">First Name</label><span class="displaynone">*</span> -->
                <div class="did-floating-label-content mb-0">
                  <input
                    type="text"
                    type="text"
                    name="City"
                    [(ngModel)]="form.City"
                    required
                    minlength="3"
                    maxlength="20"
                    #username="ngModel"
                    class="did-floating-input brder-color-grey"
                  />
                  <label class="did-floating-label">City</label>
                </div>
              </div>
            </div>

            <!--State-->
            <div class="col-12 col-md-4">
              <div class="form-group">
                <div class="did-floating-label-content pr-10">
                  <select
                    class="did-floating-select"
                    id="state"
                    [(ngModel)]="form.State"
                    (change)="onOptionSelected($event)"
                  >
                    <option
                      *ngFor="let option of lststate"
                      [value]="option.state1"
                    >
                      ({{ option.state1 }}) {{ option.descr }}
                    </option>
                  </select>
                  <label class="did-floating-label" style="top: -20px"
                    >State</label
                  >
                </div>
              </div>
            </div>
            <!--Country-->
            <div class="col-12 col-md-4">
              <div class="form-group">
                <div class="did-floating-label-content pr-10">
                  <select
                    class="did-floating-select"
                    id="country"
                    [(ngModel)]="form.Contry"
                    (change)="onCountryChange($event)"
                  >
                    <option
                      *ngFor="let option of lstContry"
                      [value]="option.countryCode"
                    >
                      ({{ option.countryCode }}) {{ option.countryDescr }}
                    </option>
                  </select>
                  <label class="did-floating-label" style="top: -20px"
                    >Country</label
                  >
                </div>
                <!-- <input
            type="text"
            class="form-control"
            name="Contry"
            [(ngModel)]="form.Contry"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
          /> -->
              </div>
            </div>
            <!--Zip Code-->
            <div class="col-12 col-md-4">
              <div class="form-group">
                <!-- <label class="mb-5 font-sm color-gray-700">First Name</label><span class="displaynone">*</span> -->
                <div class="did-floating-label-content mb-0">
                  <input
                    type="text"
                    name="postalCode"
                    [(ngModel)]="form.postalCode"
                    required
                    minlength="3"
                    maxlength="20"
                    #username="ngModel"
                    class="did-floating-input brder-color-grey"
                  />
                  <label class="did-floating-label">Postal Code</label>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <button
                type="button"
                *ngIf="isvalidateemail == true"
                (click)="onSubmit()"
                class="btn btn-buy mr-15 w-auto mb-10"
              >
                Submit
              </button>
            </div>
          </div>

          <div class="alert alert-success" *ngIf="isSuccessful">
            Your registration is successful!
          </div>
          <div
            class="alert alert-warning"
            *ngIf="f.submitted && isSignUpFailed"
          >
            Signup failed!<br />{{ errorMessage }}
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
